<section class="main-header-section">
  <div class="log-nav-container">
    <section class="logo-section">
      <img src="assets/images/logo.webp" alt="epic games logo" width="65" height="65">
    </section>
    <div class="main-header-divider">
      <hr noshade size="1">
    </div>
    <nav>
      <ul>
        <li>
          <a href="#suggestions">فروش‌های ویژه</a>
        </li>
        <li>
          <a href="#news">اخبار</a>
        </li>
      </ul>
    </nav>
    <input type="text" placeholder="سرچ کنید">
  </div>
  <section class="user-preferences">
    <a href="#" class="download-button-nav">دانلود کلاینت</a>
  </section>
</section>
