<section class="footer-top-container">
  <section class="social-media">
    <a href="#">
      <fa-icon [icon]="faFacebook" size="xl"></fa-icon>
    </a>
    <a>
      <fa-icon [icon]="faTwitter" size="xl"></fa-icon>
    </a>
    <a>
      <fa-icon [icon]="faYoutube" size="xl"></fa-icon>
    </a>
  </section>
  <button id="scrollToTop">
    <a href="#">
      <fa-icon [icon]="faChevronUp" size="xl"></fa-icon>
    </a>
  </button>
</section>
<section class="footer-top-links">
  <section class="resources">
    <nav>
      <header>
        <h3>منابع</h3>
      </header>
      <main>
        <ul>
          <li><a href="#">از ما حمایت کنید</a></li>
          <li><a href="#">ما را دنبال کنید</a></li>
          <li><a href="#">شغل‌ها</a></li>
<!--          <li><a href="#">شرکت ما</a></li>-->
        </ul>
        <ul>
          <li><a href="#">درباره ما</a></li>
          <li><a href="#">تیم ما</a></li>
          <li><a href="#">دیگر فروشگاه‌های ما</a></li>
        </ul>
        <ul>
          <li><a href="#">سرویس‌های آنلاین</a></li>
          <li><a href="#">قوانین ما</a></li>
          <li><a href="#">اتاق اخبار ما</a></li>
        </ul>
      </main>
    </nav>
  </section>
  <section class="products">
    <nav>
      <header>
        <h3>خدمات مشتریان</h3>
      </header>
      <main>
        <ul>
          <li><a href="#">پاسخ به پرسش‌های متداول</a></li>
          <li><a href="#">رویه‌های برگشت پول</a></li>
          <li><a href="#">شرایط استفاده</a></li>
        </ul>
        <ul>
          <li><a href="#">حریم خصوصی</a></li>
          <li><a href="#">گزارش باگ</a></li>
          <li><a href="#">پشتیبانی‌ آنلاین</a></li>
        </ul>
      </main>
    </nav>
  </section>
</section>
<hr/>
<section class="copyright">
  <p>
    تمامی حقوق این وبسایت متعلق به استار آکادمی می‌باشد.
  </p>
</section>
