@import "../../../styles";

article {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2.5rem;
  color: hsl(0, 0%, 96%);
  padding: 2rem;
  border-radius: 1.5rem;
  background: hsl(0, 0%, 7%);
  background: linear-gradient(90deg, hsl(0, 0%, 7%) 0%, hsl(0, 0%, 7%) 42%, hsla(199, 100%, 69%, 0.13) 100%);
  -webkit-transition: background-color 400ms; /* For Safari */
  transition: background-color 400ms; /* For modern browsers */
  cursor: pointer;

  &:hover {
    background-color: hsl(112, 45%, 19%);
  }

  a {
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: 1rem 1.5rem;
    background-color: $secondaty-color;
    border-radius: 1rem;
    transition: transform 150ms;
    font-weight: bold;

    &:hover {
      transform: scale(1.05);
    }
  }

  :not(h4) {
    margin-inline-start: 1.5rem;
  }
}
