<section class="banner">
  <div class="slideshow">
    <img src="assets/images/battle-walp.webp">
    <aside id="rightArrow">
      <fa-icon [icon]="faArrowRight" size="2xl"></fa-icon>
    </aside>
    <aside id="leftArrow">
      <fa-icon [icon]="faArrowLeft" size="2xl"></fa-icon>
    </aside>
  </div>
  <div class="aside-games">
    <div class="game-mini-cards">
      <img src="assets/images/btlfield.webp">
      <h3>Battle Field</h3>
    </div>
    <div class="game-mini-cards">
      <img src="assets/images/assassin.webp">
      <h4>Assasins Creed III</h4>
    </div>
    <div class="game-mini-cards">
      <img src="assets/images/god-of-war.webp">
      <h4>God of War</h4>
    </div>
    <div class="game-mini-cards">
      <img src="assets/images/need4speed.webp">
      <h4>Need for Speed</h4>
    </div>
  </div>
</section>
