@import "../styles";

.main-header-section {
  display: flex;
  color: #b2b2b2;
  align-items: center;
  background-color: $primary-color;
  padding: 0px 30px;
}

.logo-section {
  cursor: pointer;
}

.main-header-divider hr {
  transform: rotate(90deg);
  width: 2rem;
  border-radius: 40px;
  background-color: #303034;
  color: #303034;
  outline: none;
}

.log-nav-container {
  display: flex;
  align-items: center;
  gap: 20px;
  input {
    padding: 12px 20px;
    background-color: #202020;
    border: none;
    outline: none;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 15px;
  }
}

.store-logo {
  transform: translateY(-1px);
}

.main-header-section ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 2rem;
  padding: 0;
}

.main-header-section ul li {
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 300ms ease;
}

.main-header-section ul li:hover {
  background-color: #404044;
  color: white;

}


nav li a {
  text-decoration: none;
  color: inherit;
}

.user-preferences {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-preferences a {
  text-decoration: none;
}

.download-button-nav {
  cursor: pointer;
  color: black;
  background-color: $secondaty-color;
  font-weight: bold;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  outline: none;
}

main {
  .banner {
    margin-top: $distance-with-top-section + 50px;
    display: inline-flex;
    justify-content: center;
    width: 100%;
    gap: 40px;
    .slideshow {
      position: relative;
      width: 70%;
      img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        border-radius: 20px;
      }
      #rightArrow {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 10px;
        transition: all 300ms ease;
        &:hover {
          scale: 1.05;
        }

      }
      #leftArrow {
        position: absolute;
        top: 50%;
        left: 10px;
        transition: all 300ms ease;
        &:hover {
          scale: 1.05;
        }
      }
      footer {
        position: absolute;
        display: flex;
        gap: 4px;
        right: 50%;
        left: 50%;
        bottom: 10px;
      }
    }

    .aside-games {
      display: flex;
      flex-direction: column;
      gap: 20px;
      width: 10%;
      :first-child {
        background-color: rgba(183, 183, 183, 0.20) !important;
      }

      .game-mini-cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 20px;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 20px;
        padding: 15px;
        &:hover {
          background-color: rgba(183, 183, 183, 0.40);
          img {
            transform: scale(1.08);
            transition: all 300ms ease-out;
          }
        }
        img {
          width: 30%;
          height: auto;
          object-fit: contain;
          border-radius: 12px;

        }
      }
    }
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: $distance-with-top-section;
  padding: 0 5rem;
  header {
    color: white;
    font-size: 40px;
  }
  .full-game-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 35px;
    .card {
      display: flex;
      flex-direction: column;
      width: 250px;
      height: 340px;
      border-radius: 15px;
      background-color: inherit;
      color: whitesmoke;

      img {
        margin-bottom: 15px;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }

      .price-desc {
        display: flex;
        gap: 12px;
        align-items: center;
        .discount {
          padding: 10px;
          font-size: 14px;
          background-color: #61cdff;
          border-radius: 10px;
        }
      }
    }
  }
}

.card {
    img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 13px 13px 0 0;
    }
}

fa-icon {
  cursor: pointer;
  color: #d7d7d7;
  box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
  -webkit-box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
  -moz-box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
}
