@import "../styles";

.header {
  padding: 0 3rem;
  background: rgb(18,18,18);
  background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 42%, rgba(97,205,255,0.13209033613445376) 100%);
  backdrop-filter: blur(2.5rem);
  position: sticky;
  top: 0;
  z-index: 999;
  font-size: 1.5rem;
}

.main-header-section {
  display: flex;
  color: #b2b2b2;
  align-items: center;
  width: 100%;
}

.logo-section {
  cursor: pointer;
}

.main-header-divider hr {
  transform: rotate(90deg);
  width: 2rem;
  border-radius: 4rem;
  background-color: #303034;
  color: #303034;
  outline: none;
}

.log-nav-container {
  display: flex;
  align-items: center;
  gap: 2rem;

  nav li a {
    text-decoration: none;
    color: inherit;
  }

  input {
    padding: 1.2rem 2rem;
    background-color: #202020;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    color: whitesmoke;
    font-size: $global-font-size;
    @media screen and (max-width: 800px) {
      display: none;
    }
  }
}

.store-logo {
  transform: translateY(-1px);
}

.main-header-section ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  gap: 2rem;
  padding: 0;
}

.main-header-section ul li {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  transition: background-color 300ms ease;
}

.main-header-section ul li:hover {
  background-color: #404044;
  color: white;

}

.user-preferences {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.user-preferences a {
  text-decoration: none;
}

.download-button-nav {
  cursor: pointer;
  color: black;
  background-color: $secondaty-color;
  padding: 0.8rem 1.5rem;
  border-radius: 0.6rem;
  border: none;
  outline: none;
}

main {
  padding-bottom: 8rem;
  .banner {
    margin-top: $distance-with-top-section;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 4rem;
    font-size: $global-font-size;
    @media screen and (max-width: 1400px) {
      flex-direction: column;
    }
    .slideshow {
      position: relative;
      width: 80%;
        @media screen and (max-width: 1000px) {
          width: 100%;
        }
      img {
        width: 100%;
        height: 80vh;
        object-fit: cover;
        border-radius: 2rem;
      }
      #rightArrow {
        position: absolute;
        top: 50%;
        bottom: 50%;
        right: 1rem;
        transition: all 300ms ease;
        &:hover {
          scale: 1.05;
        }

      }
      #leftArrow {
        position: absolute;
        top: 50%;
        left: 1rem;
        transition: all 300ms ease;
        &:hover {
          scale: 1.05;
        }
      }
      footer {
        position: absolute;
        display: flex;
        gap: 0.4rem;
        right: 50%;
        left: 50%;
        bottom: 1rem;
      }
    }

    .aside-games {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      width: auto;
      overflow-x: auto;
      :first-child {
        background-color: rgba(183, 183, 183, 0.20) !important;
      }

      @media screen and (max-width: 1000px) {
        //visibility: hidden;
      }

      @media screen and (max-width: 1400px) {
        flex-direction: row;
        width: 100%;
      }

      .game-mini-cards {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: auto;
        gap: 2rem;
        color: whitesmoke;
        cursor: pointer;
        border-radius: 2rem;
        padding: 1.5rem;
        &:hover {
          background-color: rgba(183, 183, 183, 0.40);
          img {
            transform: scale(1.08);
            transition: all 300ms ease-out;
          }
        }
        img {
          width: 7rem;
          height: auto;
          object-fit: cover;
          border-radius: 1.2rem;

        }
      }
    }
  }
}

.suggestions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: $distance-with-top-section;
  gap: 1rem;
  font-size: $global-font-size;
  header {
    color: white;
    font-size: 4rem;
  }
  .slider-controller {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: flex-end;
  }
  .full-game-list {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    align-items: center;
    width: 100%;
    flex-direction: row;
    gap: 3.5rem;
    .card {
      display: flex;
      flex-direction: column;
      width: 25rem;
      height: 34rem;
      border-radius: 1.5rem;
      background-color: inherit;
      color: whitesmoke;

      img {
        margin-bottom: 1.5rem;
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }

      .price-desc {
        display: flex;
        gap: 1.2rem;
        align-items: center;
        .discount {
          padding: 1rem;
          font-size: 1.4rem;
          border-radius: 31% 69% 71% 29% / 35% 45% 55% 65%;
          background: rgb(124,32,131);
          background: linear-gradient(90deg, rgba(124,32,131,1) 0%, rgba(124,32,131,1) 38%, rgba(179,97,255,0.38699229691876746) 100%);
        }
      }
    }
  }
}

.card {
    img {
      width: 100%;
      height: 60%;
      object-fit: cover;
      border-radius: 1.3rem 1.3rem 0 0;
    }
}

.news-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: $distance-with-top-section;
  margin-bottom: $distance-with-top-section;
  padding: 0 5rem;
  width: 100%;
  header {
    color: white;
    font-size: 5rem;
    text-decoration: wavy white;
  }
  .news-card-container {
    width: 100%;
    display: flex;
    gap: 2rem;
      @media screen and (max-width: 1000px) {
        align-items: center;
        flex-direction: column;
      }
    article {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      font-size: 2.5rem;
      color: whitesmoke;
      padding: 2rem;
      border-radius: 1.5rem;
      background: rgb(18,18,18);
      background: linear-gradient(90deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 42%, rgba(97,205,255,0.13209033613445376) 100%);
      -webkit-transition: background-color 400ms; /* For Safari */
      transition: background-color 400ms; /* For modern browsers */
      cursor: pointer;

      &:hover {
        background-color: rgb(33, 71, 27);
      }

      @media screen and (max-width: 1000px) {
        width: 100%;
      }

      a {
        color: black;
        text-decoration: none;
        padding: 1rem 1.5rem;
        background-color: $secondaty-color;
        border-radius: 1rem;
        transition: transform 150ms;
        font-weight: bold;

        &:hover {
          transform: scale(1.05);
        }
      }

      :not(h4) {
        margin-left: 1.5rem;
      }
    }
  }
}


fa-icon {
  cursor: pointer;
  color: #d7d7d7;
  box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
  -webkit-box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
  -moz-box-shadow: 10px 9px 17px -10px rgba(0,0,0,1);
}

footer {
  color: whitesmoke;
  padding: 2rem 7.2rem 4rem;
  background-color: $footer-background-color;
  font-size: $global-font-size;

  .footer-top-container {
    display: flex;
    justify-content: space-between;

    .social-media {
      margin: 0.5rem 0;

      a {
        padding-right: 0.8rem;
      }
    }

    #scrollToTop {
      background-color: transparent;
      border: 1px solid whitesmoke;
      border-radius: 0.4rem;
      margin: 0.8rem 0.8rem 0 0;
      padding: 1rem;

      &:hover, &:hover * {
        border-color: $footer-link-hover;
        color: $footer-link-hover;
        cursor: pointer;
      }
    }

  }

  a {
    color: whitesmoke;
    text-decoration: none;

    &:hover, :hover {
      color: $footer-link-hover;
    }
  }

  .footer-top-links {
    display: flex;
    justify-content: flex-start;

    section {
      padding: 2rem 0 1rem 0;
    }

    h3 {
      margin: 0 0 0.8rem 0;
      font-size: $global-font-size;
      color: #CCCCCC;
    }

    nav {
      display: flex;
      flex-direction: column;

      main {
        display: flex;
        justify-content: space-between;

        ul {
          list-style-type: none;
          padding: 0 2rem 0 0;
          margin: 0;
        }

        li {
          font-size: $global-font-size ;
          padding-bottom: 0.4rem;

        }
      }
    }
  }

  hr {
    padding: 0 1rem;
    margin: 1rem 0;
    opacity: 10%;
  }

  .copyright {
    padding: 1rem 0;
    font-size: $global-font-size;

    p {
      margin: 0;
    }
  }

  .footer-bottom-links {
    ul {
      list-style-type: none;
      display: flex;
      margin: 2rem 0 1rem 0;
      padding: 0;

      li {
        padding-right: 1rem;
        font-size: $global-font-size;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .footer-top-links {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-bottom-links {
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
