<header>
  <section class="main-header-section">
    <div class="log-nav-container">
      <section class="logo-section">
        <img src="assets/images/epic-logo.svg" alt="epic games logo" width="35" height="35">
      </section>
      <div class="main-header-divider">
        <hr noshade size="1">
      </div>
      <nav>
        <ul>
          <li>
            <a href="#">Distributions</a>
          </li>
          <li>
            <a href="#">Supports</a>
          </li>
          <li>
            <a href="#">Unreal Engines</a>
          </li>
        </ul>
      </nav>
    </div>
    <section class="user-preferences">
      <a href="#" class="download-button-nav">Download Client</a>
    </section>
  </section>

</header>

<main></main>
<footer></footer>
