@import "../styles";

.header {
  padding: 0 3rem;
  background: hsl(0, 0%, 7%);
  background: linear-gradient(90deg, hsl(0, 0%, 7%) 0%, hsl(0, 0%, 7%) 42%, hsla(199, 100%, 69%, 0.13) 100%);
  backdrop-filter: blur(2.5rem);
  position: sticky;
  inset-block-start: 0;
  z-index: 999;
  font-size: 1.5rem;
}

.main-body {
  padding-block-end: 8rem;
}


.landing-footer {
  color: hsl(0, 0%, 96%);
  padding: 2rem 7.2rem 4rem;
  background-color: $footer-background-color;
  font-size: $global-font-size;
}
