<section class="news-section" id="news">
  <header>
    <h3>Latest News</h3>
  </header>
  <div class="news-card-container">
    <article>
      <h4>Website Maintainance</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident sequi temporibus. Atque dolor est fuga labore laborum quisquam reiciendis repellat rerum sit sunt. Fuga iste iure nobis quasi sequi.</p>
      <a href="#">Read more</a>
    </article>
    <article>
      <h4>Website Maintainance</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur provident sequi temporibus. Atque dolor est fuga labore laborum quisquam reiciendis repellat rerum sit sunt. Fuga iste iure nobis quasi sequi.</p>
      <a href="#">Read more</a>
    </article>
  </div>
</section>
