$primary-color: hsl(240, 8%, 10%);
$secondaty-color: hsl(199, 100%, 69%);
$main-body-background: hsl(0, 0%, 7%);
$distance-with-top-section: 5rem;
$global-font-size: 1.5rem;
$footer-link-hover: hsl(210, 100%, 47%);
$footer-background-color: hsl(0, 0%, 13%);


@font-face {
  font-family: 'Lato';
  src: url('assets/fonts/LATO-REGULAR.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: Lato;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $main-body-background;
}

html, body {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

.main-body {
  width: 80%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}
